<template name="moodsInCircles">
  <div class="row">
    <div class="col-sm-3" align="center">
      <svg height="300" width="300">
        <circle cx="150" cy="150" r="150" fill="green" id="moodGreen"/>
        Sorry, your browser does not support inline SVG.  
      </svg> 
    </div>
    <div class="col-sm-3" align="center">
      <svg height="300" width="300">
        <circle cx="150" cy="150" r="150" fill="yellow" id="moodYellow"/>
        Sorry, your browser does not support inline SVG.  
      </svg>
    </div>
    <div class="col-sm-3" align="center">
      <svg height="300" width="300">
        <circle cx="150" cy="150" r="150" fill="orange" id="moodOrange"/>
        Sorry, your browser does not support inline SVG.  
      </svg> 
    </div>
    <div class="col-sm-3" align="center">
      <svg height="300" width="300">
        <circle cx="150" cy="150" r="150" fill="red" id="moodRed"/>
        Sorry, your browser does not support inline SVG.  
      </svg> 
    </div>
  </div>
</template>